@import url("./font.css");

* {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  box-sizing: border-box
}

pre:after {
  color: #ccc;
  content: attr(data-lang);
  font-size: .6rem;
  font-weight: 600;
  height: 15px;
  line-height: 15px;
  padding: 5px 10px 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0
}

::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-track {
  background: #ddd;
}
 
::-webkit-scrollbar-thumb {
  background: #666; 
}

.app-nav>ul>li {
  cursor: pointer;
}

:root {
  --base-font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
  --code-font-family: Roboto Mono, Monaco, courier, monospace, Source Sans Pro;
  --docsifytabs-tab-color--active: var(--theme-color, #4a97ec);
  --theme-color: #4a97ec;
  --code-block-margin: 0;
  --code-block-border-radius: 0;
  --code-font-size: 14px;
  --code-inline-color: #025bbc;
  --sidebar-nav-link-before-content-l3: '';
  --docsify-example-panels-left-panel-width: 50%;
  --docsify-example-panels-right-panel-width : 50%;
}